.noscroll,
.noscroll body {
    overflow: hidden;
}
.noscroll body {
    position: relative;
}

.content {
    display: flex;
    justify-content: center;  
}

.back-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.form-submit {
    position: relative;
    top: 18rem;
}

.input-num {
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5em;
    border: 2px solid black;
    font-size: larger;
}

.input-btn {
    position: relative;
    left: 3rem;
    border: 1px solid black;
    background-color: black;
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 0.5em;
}

ul > li {
    list-style: none;
    width: 2rem;
    height: 2rem;
    float: left;
    border: 1px solid black;
}

.bottom-show {
    width: 8rem;
    height: 8rem;
}

#div-show-clothes {
    position: relative;
    display: flex;
}

#div-show-backClothes {
    position: relative;
    display: flex;
}

.img-show-backClothes {
    margin-left: 5rem;
    width: 12rem;
    height: 11rem;
    padding-top: 1rem;
}

.img-show-clothes {
    margin-left: 5rem;
    width: 12rem;
    height:11rem;
    padding-top: 1rem;
}

.show-upload {
    position: absolute;
}

#div2 {
    height: 4rem;
    z-index: 10;
}

.upload-font {
    /*display: block;*/
    position: fixed;
    /*width: 5rem;*/
    z-index: 11;
    font-family: sans-serif;
    top: 7rem;
    left: 10rem;
}

#upload-image {
    /*opacity: 0;*/
    /*-ms-filter: 'alpha(opacity=0)';*/
    height: 1.5rem;

    /*display: none;*/
    /*visibility: hidden;*/

}

#upload-choose-img {
    border: 2px solid black;
}

.submit-message {
    display: inline-grid;
    margin-top: 18rem;
    height: 5rem;
    width: 13rem;
    border: 3px solid black;
    border-radius: 0.5em;
}

.show-final-message {
    margin-top: 20rem;
}

.add-font-btn {
    background-color: black;
    width: 7rem;
    height: 1.5rem;
}

.font-value {
    border: 2px solid black;
    height: 1.5rem;
}

.add-logo-font {
    display: block;
    position: absolute;
    margin-top: 2.5rem;
}

.submit-message-btn {
    text-align: center;
    background-color: black;
}

div#upload-choose-img {
    text-align: center;
}

div#write-font {
    text-align: center;
    background-color: black;
}

#div-utils-clothes {
    display: inline-table;
    margin-left: 2rem;
}

a{color:white} /*设置默认颜色*/
a:link {color:white;} /*未访问颜色*/
a:visited {color:white;} /*已访问颜色*/
