<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css?file=main.css">
    <title>Login</title>
</head>
<body>
    <body>
        <div class="content">
            <img class="back-img" src="../static/img?file=background.png" alt="">
            <form class="form-submit" action="/login" method="post">
                <input class="input-num" type="text" name="username" placeholder="请输入手机号">
                <br>
                <button class="input-btn" type="submit"><font color="white">登&nbsp&nbsp&nbsp&nbsp&nbsp陆</font></button>
            </form>
        </div>
    </body>
</body>
</html>
