<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css?file=main.css">
    <title>提交订单</title>
</head>
<body>
<body>
<div class="content">
    <img class="back-img" src="../static/img?file=background.png" alt="">
    <form action="/ok" method="post" class="submit-message">
        <input type="text" name="phoneNumbers" placeholder="请输入手机号">
        <input type="text" name="clothesNumbers" placeholder="请输入订购数量">
        <button type="submit">提交</button>
    </form>
</div>
</body>
</body>
</html>
